{% extends "base.html" %}
{% block body %}
<div id="people" class="container tag">
    <div class="institution">
        <h1><img class="logo" src="images/uams.jpg">University of Arkansas for Medical Sciences</h1>
        <div class="row member-content">
            <div class="person col-sm-3">
                <h4>Stephen M. Bowman</h4>
                <p class="title">Domain Expert</p>
            </div>
            <div class="person col-sm-3">
                <h4>Mathias Brochhausen</h4>
                <p class="title">Principal Investigator/Lead Ontologist</p>
            </div>
            <div class="person col-sm-3">
                <h4>Dwayne Dobbins</h4>
                <p class="title">Project Manager</p>
            </div>
            <div class="person col-sm-3">
                <h4>Robert T. Maxson</h4>
                <p class="title">Domain Expert</p>
            </div>
             <div class="person col-sm-3">
                <h4>Rosemary Nabaweesi</h4>
                <p class="title">Domain Expert</p>
            </div>
            <div class="person col-sm-3">
                <h4>J. Neil Otte</h4>
                <p class="title">Ontology Expert</p>
            </div>
            <div class="person col-sm-3">
                <h4>Rohit Pradhan</h4>
                <p class="title">Domain Expert</p>
            </div>
            <div class="person col-sm-3">
                <h4>Joseph Utecht</h4>
                <p class="title">Lead Developer</p>
            </div>
        </div>
    </div>
    <div class="institution">
        <h1><img class="logo" src="images/acs.jpg">American College of Surgeons</h1>
        <div class="row member-content">
            <div class="person col-sm-3">
                <h4>Jane Ball</h4>
                <p class="title">Domain Expert</p>
            </div>
            <div class="person col-sm-3">
                <h4>Nels Sanddal</h4>
                <p class="title">Domain Expert</p>
            </div>
            <div class="person col-sm-3">
                <h4>M. Eduard Tudoreanu</h4>
                <p class="title">Usability Expert</p>
            </div>
        </div>
    </div>
    <div class="institution">
        <h1><img class="logo" src="images/ualr.jpg">University of Arkansas at Little Rock</h1>
    </div>
</div>
{% endblock %}
